<form fxLayout="row wrap"
      fxLayoutGap="15px"
      [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>text</mat-label>
    <input matInput
           formControlName="text">
  </mat-form-field>

  <div fxLayout="row"
       fxLayoutAlign="center center"
       fxLayoutGap="5px">
    <mat-form-field appearance="outline">
      <mat-label>numberMin</mat-label>
      <input matInput
             type="number"
             formControlName="numberMin">
    </mat-form-field>
    <span>–</span>
    <mat-form-field appearance="outline">
      <mat-label>numberMax</mat-label>
      <input matInput
             type="number"
             formControlName="numberMax">
    </mat-form-field>
  </div>

  <div fxLayout="column"
       fxLayoutAlign="center start"
       fxLayoutGap="15px">
    <mat-label>boolean</mat-label>
    <mat-radio-group fxLayout="row"
                     fxLayoutAlign="center center"
                     fxLayoutGap="15px"
                     formControlName="boolean">
      <mat-radio-button value="all">All</mat-radio-button>
      <mat-radio-button value="true">True</mat-radio-button>
      <mat-radio-button value="false">False</mat-radio-button>
    </mat-radio-group>
  </div>

  <div fxLayout="column"
       fxLayoutAlign="center start"
       fxLayoutGap="15px"
       formArrayName="enums">
    <mat-label>enums</mat-label>
    <div fxLayout="row"
         fxLayoutAlign="center center"
         fxLayoutGap="15px">
      <ng-container *ngFor="let _ of enumsFormArray.controls; let i = index">
        <mat-checkbox [formControlName]="i">{{types[i]}}</mat-checkbox>
      </ng-container>
    </div>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>date</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate formControlName="dateFrom" placeholder="From">
      <input matEndDate formControlName="dateTo" placeholder="To">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <div fxLayout="row"
       fxLayoutAlign="center center"
       fxLayoutGap="15px">
    <button mat-icon-button
            type="button"
            matTooltip="Reset"
            (click)="onReset()">
      <mat-icon>restart_alt</mat-icon>
    </button>
  </div>
</form>
