<div fxFill
     fxLayout="column"
     fxLayoutGap="15px">
  <form fxLayout="row wrap"
        fxLayoutGap="15px"
        [formGroup]="form"
        (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>text</mat-label>
      <input matInput
             formControlName="text">
    </mat-form-field>

    <div fxLayout="row"
         fxLayoutAlign="center center"
         fxLayoutGap="5px">
      <mat-form-field appearance="outline">
        <mat-label>numberMin</mat-label>
        <input matInput
               type="number"
               formControlName="numberMin">
      </mat-form-field>
      <span>–</span>
      <mat-form-field appearance="outline">
        <mat-label>numberMax</mat-label>
        <input matInput
               type="number"
               formControlName="numberMax">
      </mat-form-field>
    </div>

    <div fxLayout="column"
         fxLayoutAlign="center start"
         fxLayoutGap="15px">
      <mat-label>boolean</mat-label>
      <mat-radio-group fxLayout="row"
                       fxLayoutAlign="center center"
                       fxLayoutGap="15px"
                       formControlName="boolean">
        <mat-radio-button value="all">All</mat-radio-button>
        <mat-radio-button value="true">True</mat-radio-button>
        <mat-radio-button value="false">False</mat-radio-button>
      </mat-radio-group>
    </div>

    <div fxLayout="column"
         fxLayoutAlign="center start"
         fxLayoutGap="15px"
         formArrayName="enums">
      <mat-label>enums</mat-label>
      <div fxLayout="row"
           fxLayoutAlign="center center"
           fxLayoutGap="15px">
        <ng-container *ngFor="let _ of enumsFormArray.controls; let i = index">
          <mat-checkbox [formControlName]="i">{{types[i]}}</mat-checkbox>
        </ng-container>
      </div>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>date</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate formControlName="dateFrom" placeholder="From">
        <input matEndDate formControlName="dateTo" placeholder="To">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <div fxLayout="row"
         fxLayoutAlign="center center"
         fxLayoutGap="15px">
      <button mat-icon-button
              type="submit"
              matTooltip="Search"
              [disabled]="form.invalid || form.pristine">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button
              type="button"
              matTooltip="Reset"
              (click)="onReset()">
        <mat-icon>restart_alt</mat-icon>
      </button>
    </div>
  </form>

  <mat-table [dataSource]="dataSource"
             matSort
             class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> id</mat-header-cell>
      <mat-cell *matCellDef="let data"> {{data.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> name</mat-header-cell>
      <mat-cell *matCellDef="let data"> {{data.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> fullName</mat-header-cell>
      <mat-cell *matCellDef="let data"> {{data.fullName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef mat-sort-header> number</mat-header-cell>
      <mat-cell *matCellDef="let data"> {{data.number}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="boolean">
      <mat-header-cell *matHeaderCellDef mat-sort-header> boolean</mat-header-cell>
      <mat-cell *matCellDef="let data"> {{data.boolean}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="enum">
      <mat-header-cell *matHeaderCellDef mat-sort-header> enum</mat-header-cell>
      <mat-cell *matCellDef="let data"> {{data.enum}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> date</mat-header-cell>
      <mat-cell *matCellDef="let data"> {{data.date}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <div *matNoDataRow
         fxLayout="row"
         fxLayoutAlign="center center"
         class="no-data-row">
      <span>No matching data</span>
    </div>
  </mat-table>

  <mat-paginator [pageIndex]="pageIndex"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="onPageEvent($event)"
                 showFirstLastButtons>
  </mat-paginator>
</div>
